run = "python ./scripts/main.py"
modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python ./scripts/main.py"]
build = ["sh", "-c", "pip install -r requirements.txt"]
